[tool.poetry]
name = "gpt-cli"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]
readme = "README.md"
packages = [{include = "gpt_cli"}]

[tool.poetry.dependencies]
python = "^3.9"
aiohttp = "3.8.4"
aiosignal = "1.3.1"
async-timeout = "4.0.2"
attrs = "22.2.0"
black = "23.1.0"
blessings = "1.7"
certifi = "2022.12.7"
charset-normalizer = "3.1.0"
click = "8.1.3"
colorama = "0.4.6"
frozenlist = "1.3.3"
idna = "3.4"
markdown-it-py = "2.2.0"
mdurl = "0.1.2"
multidict = "6.0.4"
mypy-extensions = "1.0.0"
openai = "0.27.2"
packaging = "23.0"
pathspec = "0.11.0"
platformdirs = "3.1.1"
prompt-toolkit = "3.0.38"
Pygments = "2.14.0"
PyYAML = "6.0"
requests = "2.28.2"
rich = "13.3.2"
six = "1.16.0"
tomli = "2.0.1"
tqdm = "4.65.0"
typing-extensions = "4.5.0"
urllib3 = "1.26.15"
wcwidth = "0.2.6"
yarl = "1.8.2"
tiktoken = "^0.3.3"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
