anthropic==0.2.8
black==23.1.0
google-generativeai==0.1.0rc2
llama-cpp-python==0.1.57
openai==0.27.8
prompt-toolkit==3.0.38
pytest==7.3.1
PyYAML==6.0
rich==13.3.2
tiktoken==0.3.3
tokenizers==0.13.3
typing_extensions==4.5.0
